/* Hovedfilen */

/* Slideshow */
.slideshow__container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .slideshow__slide {
    display: none;
  }
  
  .slideshow__image {
    width: 100%;
  }
  
  .slideshow__caption {
      background: rgba(72, 239, 6, 0.6);
      color: #000000;
      font-size: 18px;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 8px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      max-width: 80%;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }
  
  .slideshow__button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: rgba(0,0,0,0.5);
    border: none;
    user-select: none;
  }
  
  .slideshow__button--prev { left: 0; }
  .slideshow__button--next { right: 0; }
  .slideshow__button:hover { background: rgba(0,0,0,0.8); }
  /* 
  .fade { animation: fade 1.5s; }
  @keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
  }
  */


/*Basket */ 

/* Kurv-ikon */
.cart-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
}

/* Slide-out kurv */
.cart-panel {
  position: fixed;
  top: 0;
  right: -340px;
  width: 300px;
  height: 100%;
  background: white;
 
  transition: right 0.3s ease-in-out;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Når kurven er åben */
.cart-panel.open {
  right: 0;
}

/* Header med luk-knap */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-header button {
  background: none;
  border: none;
  font-size: 20px;
}

/* Produkter */
.products {
  display: flex;
  gap: 20px;
  margin: 50px;
}

.product {
  padding: 20px;
  border: 1px solid #000000;
  text-align: center;
}

button {
  background: rgb(138, 183, 192);
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none; 
}